@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local(''), /*url('../fonts/open-sans-condensed-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/open-sans-condensed-v15-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
}

html,
body {
    margin: 0;
    height: 100%;
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

hr {
    margin: 2px 0;
}


/*HEADER*/

.headsection {
    display: block;
    width: 100%;
    height: 230px;
    align-items: center;
    background-color: #dcdcdc;
    display: flex;
    align-items: center;
}

.headin980 {
    position: relative;
    padding: 0px 10px;
    width: 980px;
    margin: auto;
}

.headcont {
    width: 980px;
    display: flex;
    margin-top: 45px;
    margin-bottom: 65px;
}

.logo {
    margin-top: auto;
    display: block;
    height: 100px;
    width: 273px;
}

.contacts {
    display: block;
    margin-left: auto;
    margin-bottom: auto;
    height: 120px;
    text-align: center;
}

.contacts p {
    margin: 0;
    font-family: 'Open Sans Condensed';
    font-size: 29px;
    line-height: 41px;
    font-weight: 300;
    color: #767676;
}

.feedback a {
    font-family: PT Sans;
    font-size: 24px;
    height: 23px;
    font-weight: 900;
    color: #767676;
    text-decoration: none;
    margin: 0 0 0 auto;
    border-bottom: dashed #767676 2px;
    cursor: pointer;
}

.feedback {
    margin-left: auto;
    margin-top: 0;
    text-align: right;
}


/*.feedback p {
    font-size: 24px;
    height: 23px;
    font-weight: 900;
    color: #767676;
    text-decoration: none;
    margin: 0px 0 0 auto;
    border-bottom:dashed #767676 2px;
    font-family: 'PT Sans';
    font-family: 'PT Sans';
    font-size: 24px;
    line-height: 46px;
    font-weight: 700;
}*/


/*MAIN (i mean it's menu bar, slider and content)*/
.main {
    flex-grow: 1;
}


/*MENU BAR SECTION*/

.barsection {
    background-color: #777777;
    position: static;
    display: block;
    width: 100%;
}

.barin980 {
    padding: 0px 10px;
    width: 980px;
    height: 80px;
    margin: auto;
    align-items: center;
}

.menu {
    display: flex;
    /*flex-basis: auto;*/
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin: 26px 0;
    list-style: none;
   /* border-right: 2px #ffffff solid;*/
    height: 20px;
}

.menu li::before {
    content: '|';
    color: #ffffff;
    font-family: 'PT Sans';
    font-size: 28px;
    color: #ffffff;
}
.menu li:first-child::before {
    content: none;
}

.menu a {
    text-align: justify;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
}

.menu a:hover {
    border-bottom: 2px solid #ffffff;
}

.navig ul {
    margin: auto auto;
}


/*SLIDER SECTION*/

.image-slider__image {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;
}

.sliderimage {
    width: 1248px;
    margin: 0 auto;
    margin-top: -62px;
    display: block;
    position: relative;
}


/*.swiper-wrapper {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #f8f8f8;
}*/


/*.image-slider .swiper-button-prev {
    align-items: center;
    text-align: center;
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    width: 34px;
    height: 61px;
    /*color: #000000;
    background-color: #dcdcdc;
    align-items: center;
    font-size: 40px ;*/


/*background-image: url(../img/slider_next.png);*/


/*    color: transparent;
}*/


/*.image-slider .swiper-button-prev::after {
    background-image: url(../img/slider_prev.png);
}
.image-slider .swiper-button-next::after {
    background-image: url(../img/slider_next.png);
}*/

.swiper-button-prev,
.swiper-button-next {
    width: 34px;
    height: 61px;
    /**calc(var(--swiper-navigation-size)/ 44 * 10  );*/
    color: #000000;
    background-color: #d1d1d1;
    /*border: 2px solid orange;*/
    margin: 0;
    align-items: center;
    text-align: center;
}

.slider-navigation {
    flex: 0 0 250px;
    position: relative;
    width: 980px;
    margin: auto;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 32px;
    font-weight: 700;
}

.swiper-button-next {
    right: 0;
    top: -246px;
}

.swiper-button-prev {
    left: 0;
    top: -246px;
}

.buttonslider {
    padding: 0px 10px;
    width: 980px;
    margin: auto;
}


/*BREADCRUMBS*/

.contin980 {
    width: 980px;
    padding: 0 10px;
    margin: auto;
    margin-top: 10px;
}

.breadcr {
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #ffffff;
}

.breadcr li {
    display: inline;
}

.breadcr li a {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-decoration: underline;
    letter-spacing: 0.025em;
    color: #767676;
}

ul.breadcr li+li:before {
    padding-right: 12px;
    color: #767676;
    ;
    content: "/\00a0";
}

.breadcr li:last-child a {
    text-decoration: none;
}


/*MAINCATALOG*/

.catalogbl {
    display: flex;
    margin-top: 25px;
}


/*LEFTBLOCK OF CATALOG*/

.leftblock {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    width: 180px;
    margin-right: 20px;
}

.categories {
    width: 180px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
    text-decoration: none;
}

.categories,
.show {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.subcategories,
.show {
    font-size: 14px;
    line-height: 22px;
    color: #767676;
}


.show:visited{
    color: black;
} 

.show:active {
    color: black;
}

.active li {
    text-decoration: underline;
    color: #010101;
}

.categories li {
    list-style: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.subcategories {
    padding: 0 0 0 19px;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
}

.subcategories li {
    list-style: disc;
    font-size: 14px;
    line-height: 22px;
    text-decoration: underline;
}

.hide {
    font-size: 18px;
}


.categories span {
    cursor: pointer;
}

details summary {
    cursor: pointer;
    list-style: none;
    font-size: 18px;
    font-weight: 400;
}

details {
    list-style: disc;
    cursor: pointer;
}
.subcategories li a:active {
    color: #010101;
}
.subcategories li:hover  {
    color: #010101;
}
.subcategories li:target  {
    color: #010101;
}


.leftlogo {
    margin: 110px auto 0 auto;
    width: 97px;
    height: 111px;
}

.logodescr {
    margin: 6px auto 0 auto;
}

.logodescr p {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    font-size: 30px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #444444;
}


/*CENTERBLOCK OF CATALOLOG*/

.centerblock {
    margin: auto;
    margin-bottom: 202px;
    width: 780px;
}

.centerside {
    margin: 0;
}

.product {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 780px;
}

.product li {
    list-style: none;
    padding: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    width: 250px;
    height: 380px;
}

.product li:nth-child(3n) {
    margin-right: 0;
}

.product li:nth-last-child(-n+2) {
    margin-bottom: 0;
}

.view-item {
    width: 250px;
    height: 380px;
    display: block;
    background-color: #dcdcdc;
    display: inline-block;
}

.productimg {
    margin: 20px;
    width: 210px;
    height: 209px;
}

.titlecat {
    padding: 0;
    margin: 0 42px 0 20px;
    height: 35px;
}

.titlecat a {
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #767676;
    height: 35px;
}

.descrcat {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #767676;
    margin: 0 42px 0 20px;
}

.basketprice {
    display: flex;
    margin: 50px 36px 14px 18px;
}

.price {
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    font-weight: 700;
    color: #444444;
    margin-right: auto;
}

.basketprice a {
    line-height: 0;
    margin: 0;
    width: 28px;
    height: 21px;
}

.basket {
    margin-left: auto;
}

.basketimg {
    width: 28px;
    height: 21px;
}


.pager {
    list-style: none;
    padding: 0;
    margin: 32px auto 65px auto;
    text-align: center;
}

.pager li {
    display: inline;
    margin: 0 10px;
    padding: 0;
}
.pager li a {
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.565em;
    color: #767676;
    text-decoration: none;
}

.pager .pg-current {
    font-size: 18px;
    margin: 0 11px;
    color: #444444;
}

.informblocks {
    margin-top: 27px;
    display: flex;
}

.info1 {
    width: 370px;
    margin-right: auto;
}

.info2 {
    width: 370px;
    margin-left: auto;
}

.informblocks p {
    margin: 0;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}


/*FOOTER SECTION*/

.footsection {
    display: block;
    width: 100%;
    background-color: #777777;
    bottom: 0;
}

.footin980 {
    height: 170px;
    padding: 50px 10px 0px 10px;
    position: relative;
    display: flex;
    /*padding: 50px  10px 0px 10px;*/
    width: 980px;
    margin: auto;
}

.copyrights {
    margin-right: auto;
    /*position: absolute;*/
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    height: 37px;
}

.copyrights p {
    margin-top: 0;
    margin-bottom: 11px;
    font-family: 'PT Sans';
    font-size: 11px;
    line-height: 11px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.logoinfo {
    display: flex;
    margin-left: auto;
    height: 38px;
}

.inform {
    height: 33px;
    margin-left: 9px;
}

.inform p {
    font-family: 'PT Sans';
    font-size: 11px;
    margin-top: 0px;
    line-height: 9px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin: 0;
}

.inform p u {
    font-size: 11px;
    margin: 0;
    text-decoration: underline #a7a7a7;
}

.footnav {
    /*right:50%;
    left:50%;*/
    width: 120px;
}

.footmenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footmenu li:first-child {
    margin-top: 0;
}

.footmenu a {
    color: #ffffff;
    text-decoration: underline #a7a7a7 2px;
}



/*POPUP in FADE*/
#feedback {
    opacity: 1;
    transition: opacity linear 0.8s 0s;
    background-color: gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    overflow-x: hidden;
}

#feedback.fadeout {
    opacity: 0;
    visibility: hidden;
    transition: opacity linear 0.8s 0s;
}


.popup-body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.popup-content {
    background-color: #ffffff;
    color: #535353;
    width: 466px;
    /*height: 578px;*/
    position: relative;
}

.popup-main {
    margin: 35px 0 25px 0;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-title {
    margin-bottom: 30px;
    height: 18px;
}

.popup-title p {
    font-size: 23px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #535353;
    margin: 0;
}

.popup-close {
    display: flex;
    width: 27px;
    height: 27px;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -27px;
    top: -27px;
    background-color: #777777;
    border: none;
}

.popupcloseimg {
    display: block;
    width: 15px;
    height: 15px;
}

.popup-close a {
    margin: 0;
    text-decoration: none;
}

.myform {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
    margin: 0 auto;
}

.myform .form-group {
    padding-bottom: 2px;
}

.myform label {
    display: block;
    margin: 0 auto 7px auto;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #535353;
    height: 11px;
    text-align: center;
}

.myform.textarea {
    height: 142px;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
}

.myform input {
    display: block;
    margin: 0 auto;
    width: 319px;
    height: 42px;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    padding: 0 10px;
    margin-bottom: 20px;
}

.myform textarea {
    display: block;
    margin: 0 auto;
    width: 319px;
    height: 140px!important;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
    padding: 0 10px;
    margin-bottom: 20px!important;
    resize: none;
}

.form__item ._error {
    box-shadow: inset 0 0 15px #fac3c3;
    border: 1px solid #fd9898;
    font-family: 'PT Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    color: #dc7f7f;
}

.myform input[type="submit"] {
    width: 128px;
    height: 42px;
    color: #ffffff;
    background-color: #777777;
    border: 0;
    margin-bottom: 0;
    margin-top: auto
}

.message {
    width: 341px;
    height: 142px!important;
    background-color: #ffffff;
    border: 1px solid #c3c3c3;
}


/*https://swiperjs.com/swiper-api#swiper-full-html-layout
https://codepen.io/aaronkahlhamer/embed/oeVQxQ?#result-box
https://medium.com/@networkaaron/swiper-relocating-previous-and-next-buttons-1ae792f22ef
